.jumbotron{
    margin-bottom: 0rem;
}

h1 { 
    color: skyblue;
    font-weight: bold;
}

.btn {
    border: 1px solid skyblue;
    background-color:rgba(0,0,0,0);
    color:skyblue;
    padding:5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -3px;
}

.btn:hover{
    color:white;
    background-color:skyblue;
}