{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>메뉴이름</h2>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">주문내역</span>
        <span class="badge badge-secondary badge-pill">{{products|length}}</span>
      </h4>
      <ul class="list-group mb-3">
        {% for i in products %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{i.menu}}</h6>
            <small class="text-muted">{{i.store}}</small>
            <a href="{% url 'delete_user' i.id %}" style="font-size: smaller;">       삭제</a>
          </div>
          <span class="text-muted">{{i.price}}원</span>
        </li>
        {% endfor %}
        
        <li class="list-group-item d-flex justify-content-between">
          <span>총액</span>
          <strong>{{total}}원</strong>
        </li>
      </ul>
    </div>

    <div class="col-md-8 order-md-1">
      <form action="{% url 'create_user' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="text">메뉴이름</label>
          <input type="text" class="form-control" name="menu" value="{{ product }}">
        </div>

        <div class="mb-3">
          <label for="text">매장명</label>
          <input type="text" class="form-control" name="store" value="{{ store.name }}">
        </div>

        <div class="mb-3">
          <label for="text">가격</label>
          <input type="text" class="form-control" name="price" value="{{ product_price }}">
        </div>

        <div class="mb-3">
          <label for="text">옵션</label>
          <input type="text" class="form-control" name="option" placeholder="추가하실 옵션을 입력하세요">
        </div>

        <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">주문하기</button>
      </form>
    </div>
  </div>
</div>
<br>
{% endblock %}