{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>메뉴이름</h2>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">3</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Product name</h6>
            <small class="text-muted">store name</small>
          </div>
          <span class="text-muted">$12</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Second product</h6>
            <small class="text-muted">store name</small>
          </div>
          <span class="text-muted">$8</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Third item</h6>
            <small class="text-muted">store name</small>
          </div>
          <span class="text-muted">$5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (USD)</span>
          <strong>$25</strong>
        </li>
      </ul>
    </div>

    <div class="col-md-8 order-md-1">
      <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="text">메뉴이름</label>
          <input type="text" class="form-control" name="menu" value="{{ product.menu }}">
        </div>

        <div class="mb-3">
          <label for="text">매장명</label>
          <input type="text" class="form-control" name="store" value="{{ product.store }}">
        </div>

        <div class="mb-3">
          <label for="text">가격</label>
          <input type="number" class="form-control" name="price" value="{{ product.price }}">
        </div>

        <div class="mb-3">
          <label for="text">옵션</label>
          <input type="text" class="form-control" name="price" placeholder="추가하실 옵션을 입력하세요">
        </div>

        <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">쇼핑 계속하기</button>
        <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">결제하기</button>
      </form>
    </div>
  </div>
</div>
<br>
{% endblock %}