{% extends 'base.html' %}
{% load static %}

{% block title %}집에 보내조 - 주문 페이지{% endblock %}

{% block content %}

<section class="jumbotron text-center">
    <div class="col-md order-md-1">
        <h4 class="center mb-4"><b>주문 내역</b></h4>
        <p class="center">주문을 위한 정보를 입력해주세요.</p>
    </div>
</section>

<div class="col-md ordr-md-1">
    <form class="needs-validation" novalidate>

        <div class="row">
            <div class="col-md mb-3">
                <label for="store"><b>가게 이름</b></label>
                <input type="text" class="form-control" id="store" placeholder="" value="" required>
                <div class="invalid-feedback">
                    가게 명을 입력해주세요.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md mb-3">
                <label for="menu"><b>메뉴 이름</b></label>
                <input type="text" class="form-control" id="menu" placeholder="" value="" required>
                <div class="invalid-feedback">
                    메뉴 명을 입력해주세요.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md mb-3">
                <label for="option"><b>옵션</b><span class="text-muted"> (선택)</span></label>
                <input type="text" class="form-control" id="option" placeholder="">
                <div class="invalid-feedback">
                    선택 사항을 입력해주세요.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md mb-3">
                <label for="ea"><b>수량</b><span class="text-muted"> (6개 이상 선택 불가)</span></label>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <button type="button" class="btn btn-outline-dark">1</button>
                    <button type="button" class="btn btn-outline-dark">2</button>
                    <button type="button" class="btn btn-outline-dark">3</button>
                    <button type="button" class="btn btn-outline-dark">4</button>
                    <button type="button" class="btn btn-outline-dark">5</button>
                </div>
            </div>
        </div>

        <hr class="mb-4">

        <div class="row">
            <div class="col-md mb-3">
                <label for="name"><b>주문자</b></label>
                <input type="text" class="form-control" id="name" placeholder="" value="" required>
                <div class="invalid-feedback">
                    주문자 성함을 입력해주세요.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md mb-3">
                <label for="price"><b>가격</b></label>
                <input type="text" class="form-control" id="price" placeholder="" value="" required>
                <div class="invalid-feedback">
                    금액을 입력해주세요.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="delivery"><b>배달비 포함 유무</b></label>
                <select class="custom-select d-block w-100" id="delivery" required>
                    <option value="">선택해주세요</option>
                    <option>배달비 포함</option>
                    <option>배달비 미포함</option>
                </select>
                <div class="invalid-feedback">
                    배달비 포함 유무를 골라주세요.
                </div>
            </div>
            <div class="col-md mb-3">
                <label for="deliveryfee"><b>배달비 입력</b><span class="text-muted"> (선택)</span></label>
                <input type="text" class="form-control" id="deliveryfee" placeholder="" value="">
                <div class="invalid-feedback">
                    배달비를 입력해주세요.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="bank"><b>은행</b></label>
                <select class="custom-select d-block w-100" id="bank" required>
                    <option value="">선택해주세요</option>
                    <option>카카오뱅크</option>
                    <option>국민은행</option>
                    <option>신한은행</option>
                    <option>우리은행</option>
                    <option>기업은행</option>
                    <option>농협은행</option>
                    <option>기타</option>
                </select>
                <div class="invalid-feedback">
                    은행을 골라주세요.
                </div>
            </div>
            <div class="col-md mb-3">
                <label for="account"><b>계좌번호 입력</b></label>
                <input type="text" class="form-control" id="account" placeholder="" value="" required>
                <div class="invalid-feedback">
                    계좌번호를 입력해주세요.
                </div>
            </div>
        </div>


        <hr class="mb-4">
        <div class="row">
            <div class="col-md mb-3">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="kakaopay">
                    <label class="custom-control-label" for="kakaopay">카카오페이 가능</label>
                </div>
        <hr class="mb-4">

        <div class="row">
        <div class="col-md mb-3">
                <p><button type="button" class="btn btn-info btn-block" type="submit">주문 등록하기</button></p>
                </div>
                </div>
    </form>
</div>
</div>


{% endblock %}