{% extends 'base.html' %}
{% load static %}

{% block title %}집에 보내조 - 주문 페이지{% endblock %}

{% block content %}

<section class="jumbotron text-center">
    <div class="col-md order-md-1">
        <h4 class="center mb-4"><b>주문 내역</b></h4>
        <p class="center">주문을 위한 정보를 입력해주세요.</p>
    </div>
</section>

<div class="col-md ordr-md-1">
    <form class="needs-validation" novalidate>

        <div class="row">
            <div class="col-md mb-3">
                <label for="store"><b>가게 이름</b></label>
                <input type="text" class="form-control" id="store" placeholder="" value="" required>
                <div class="invalid-feedback">
                    가게 명을 입력해주세요.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md mb-3">
                <label for="menu"><b>메뉴 이름</b></label>
                <input type="text" class="form-control" id="menu" placeholder="" value="" required>
                <div class="invalid-feedback">
                    메뉴 명을 입력해주세요.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md mb-3">
                <label for="option"><b>옵션</b><span class="text-muted"> (선택)</span></label>
                <input type="text" class="form-control" id="option" placeholder="">
                <div class="invalid-feedback">
                    선택 사항을 입력해주세요.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md mb-3">
                <label for="ea"><b>수량</b><span class="text-muted"> (6개 이상 선택 불가)</span></label>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <button type="button" class="btn btn-outline-dark">1</button>
                    <button type="button" class="btn btn-outline-dark">2</button>
                    <button type="button" class="btn btn-outline-dark">3</button>
                    <button type="button" class="btn btn-outline-dark">4</button>
                    <button type="button" class="btn btn-outline-dark">5</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md mb-3">
                <label for="name"><b>주문자</b></label>
                <input type="text" class="form-control" id="name" placeholder="" value="" required>
                <div class="invalid-feedback">
                    주문자 성함을 입력해주세요.
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
            <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
        </div>

        <div class="row">
            <div class="col-md-5 mb-3">
                <label for="country">Country</label>
                <select class="custom-select d-block w-100" id="country" required>
                    <option value="">Choose...</option>
                    <option>United States</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid country.
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="state">State</label>
                <select class="custom-select d-block w-100" id="state" required>
                    <option value="">Choose...</option>
                    <option>California</option>
                </select>
                <div class="invalid-feedback">
                    Please provide a valid state.
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="zip">Zip</label>
                <input type="text" class="form-control" id="zip" placeholder="" required>
                <div class="invalid-feedback">
                    Zip code required.
                </div>
            </div>
        </div>
        <hr class="mb-4">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="same-address">
            <label class="custom-control-label" for="same-address">Shipping address is the same as my billing
                address</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="save-info">
            <label class="custom-control-label" for="save-info">Save this information for next time</label>
        </div>
        <hr class="mb-4">


        <h5 class="mb-3"><b>결제방법</b></h5>
        <div class="d-block my-3">
            <div class="custom-control custom-radio">
                <input id="baeminpay" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                <label class="custom-control-label" for="baeminpay">배민페이</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="kakaopay" name="paymentMethod" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="kakaopay">카카오페이</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="credit">신용카드</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiration</label>
                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                <div class="invalid-feedback">
                    Expiration date required
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="cc-cvv">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                <div class="invalid-feedback">
                    Security code required
                </div>
            </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
    </form>
</div>
</div>


{% endblock %}